# Ignore everything...
*

# ... except preferences that I really want to sync
!.gitignore
!Preferences.sublime-settings
!Package Control.sublime-settings
!Markdown.sublime-build

!sftp_servers
!sftp_servers/*
!SublimeLinter
!SublimeLinter/*
!Default (Linux).sublime-keymap
!Default (Windows).sublime-keymap
!Emmet.sublime-settings
!Terminal (Windows).sublime-settings