# Ignore everything...
*

# ... except preferences that I really want to sync
!.gitignore
!Preferences.sublime-settings
!Package Control.sublime-settings

!sftp_servers
!sftp_servers/*
!SublimeLinter
!SublimeLinter/*
!Default (Linux).sublime-keymap
!Godef.sublime-settings
!GoSublime-aux.sublime-settings
!GoSublime.sublime-settings
